.class-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    width: 100%;
    gap: 15px;
}
@media (max-width: 1500px) {
    .class-cards {
        grid-template-columns: repeat(1, auto);
    }
    .full-stats {
        max-height: 90vh;
        overflow-y: auto;
    }
}

.base {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.promotions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.promotion-boxes {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.class-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0);
    border-radius: 5px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.class-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 3px;
    
}
.sprite {
    image-rendering: pixelated;
    height: auto;
    width: auto;
    transform: scale(1.3);
    transform-origin: 50% 50%;
}

.weapon-ranks {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 5px;
}
.weapon-letter {
    color: rgb(25, 215, 25);
    font-weight: bold;
    -webkit-text-stroke: 1px green;
    font-family: Arial, Helvetica, sans-serif;
}

.skill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(72, 72, 72);
    border-bottom: 1px solid rgb(72, 72, 72);
    gap: 6px;
}
.skill {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 60%;
}
.skill-sprite{
    display: flex;
    align-items: center;
    align-items: start;
    width: fit-content;
}
.skill-name {
    width:fit-content;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    border: 1px solid black;
}

.full-growth-rates,
.max-stats {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.full-growth-rates p,
.max-stats p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.full-growth-rates table,
.max-stats table {
    border-collapse: collapse;
    margin-bottom: 3px;
}

.full-growth-rates table thead td,
.max-stats table thead td {
    border: 2px solid black;
    padding: 3px 4px;
    background-color: #ecd7ff;
}
.full-growth-rates table thead td {
    background-color: rgb(255, 255, 216);
}

.full-growth-rates table tbody td,
.max-stats table tbody td {
    border: 2px solid black;
    padding: 3px 4px;
}
.max-stats table tbody td {
    color: rgb(0, 151, 0);
}